apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: {{ include "coreos.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "coreos.labels" . | nindent 4 }}
spec:
  maxUnavailable: 1
  selector:
    matchLabels:
      {{- include "coreos.selectorLabels" . | nindent 6}}
{{- if semverCompare ">= 1.26-0" .Capabilities.KubeVersion.Version }}
  unhealthyPodEvictionPolicy: AlwaysAllow
{{- end }}
