---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "coreos.name" . }}
  labels:
    {{- include "coreos.labels" . | nindent 4 }}
rules:
- apiGroups:
  - extensions.gardener.cloud
  resources:
  - clusters
  - operatingsystemconfigs
  - operatingsystemconfigs/status
  - operatingsystemconfigs/finalizers
  verbs:
  - get
  - list
  - watch
  - patch
  - update
- apiGroups:
  - ""
  resources:
  - secrets
  - secrets/finalizers
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - create
- apiGroups:
  - ""
  resources:
  - configmaps
  resourceNames:
  - os-coreos-leader-election
  verbs:
  - get
  - watch
  - update
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
   - create 
   - list 
   - watch
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  resourceNames:
  - os-coreos-leader-election
  - gardener-extension-heartbeat
  verbs:
  - get
  - update
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: gardener-extension-os-coreos
  labels:
    {{- include "coreos.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: gardener-extension-os-coreos
subjects:
- kind: ServiceAccount
  name: gardener-extension-os-coreos
  namespace: {{ .Release.Namespace }}
