image:
  repository: eu.gcr.io/gardener-project/gardener/extensions/os-coreos
  tag: latest
  pullPolicy: IfNotPresent

resources: {}

vpa:
  enabled: true
# resourcePolicy:
#   minAllowed:
#     cpu: 100m
#     memory: 128Mi
  updatePolicy:
    updateMode: "Auto"

controllers:
  concurrentSyncs: 5
  ignoreOperationAnnotation: false

disableControllers: []
