name: Release
on:
  workflow_dispatch:
    inputs:
      next-version:
        required: true
        default: bump-minor
        type: choice
        options:
          - bump-minor
          - bump-patch


jobs:
  build:
    uses: ./.github/workflows/build.yaml
    secrets: inherit
    permissions:
      contents: read
      id-token: write
      packages: write
    with:
      mode: release

  release-to-github-and-bump:
    uses: gardener/cc-utils/.github/workflows/release.yaml@master
    needs:
      - build
    permissions:
      contents: write
      id-token: write
      packages: write
    with:
      release-commit-target: branch
      next-version-callback-action-path: .github/actions/prepare-release
      next-version: ${{ inputs.next-version }}
